<div class="grid grid-cols-4 md:grid-cols-7 gap-y-2 gap-x-2 justify-items-center mr-8 ml-8 bg-gray-100">
    <TechLogo ImageSrc="images/tech_logos/blazor-logo-300x300.png" AltText="Blazor" />
    <TechLogo ImageSrc="images/tech_logos/dotnet-logo-300x300.png" AltText=".Net" />
    <TechLogo ImageSrc="images/tech_logos/xamarin-logo-300x300.png" AltText="Xamarin" />
    <TechLogo ImageSrc="images/tech_logos/flutter-logo-300x300.png" AltText="Flutter" />
    <TechLogo ImageSrc="images/tech_logos/csharp-logo-300x300.png" AltText="C#" />
    <TechLogo ImageSrc="images/tech_logos/azure-logo-300x300.png" AltText="Azure" />
    <TechLogo ImageSrc="images/tech_logos/wordpress-logo-300x300.png" AltText="WordPress" />
    <TechLogo ImageSrc="images/tech_logos/amazon-firetv-logo-300x300.png" AltText="Amazon Fire TV" />
    <TechLogo ImageSrc="images/tech_logos/apple-tv-logo-300x300.png" AltText="Apple TV" />
    <TechLogo ImageSrc="images/tech_logos/google-tv-logo-300x300.png" AltText="Android/Google TV" />
    <TechLogo ImageSrc="images/tech_logos/roku-logo-300x300.png" AltText="Roku" />
</div>


@code {

}     