@page "/BlazorTimer"


<h3>BlazorTimer</h3>

<p class="text-3xl">@count</p>

@code {

    [Inject]
    public BlazorTimerService TimerService { get; set; }
        
        private const double IntervalMilliseconds = 3000;

    private int count;

    protected override async Task OnInitializedAsync()
    {
        await refreshCount();
        await startTimer();
    }


    private async Task startTimer()
    {
        TimerService.SetTimer(IntervalMilliseconds, true);
        TimerService.OnElapsed +=
            async delegate { await refreshCount(); };
    }

    private async Task refreshCount()
    {
        count++;
        await InvokeAsync(StateHasChanged);


    // var after = await AppRepositories.Ticket.CountAllInboxTickets();
    //
    // if (after != before)
    // {
    //     Count = after;
    //     await InvokeAsync(StateHasChanged);
    // }
    }

}