@page "/ElementInView"

@using DaveEvansTech.Helpers
@inject IJSRuntime JsRuntime

<h3>ElementInView</h3>

@{
    string elementID = "my-element";
}

    <button type="button" style="position: fixed; top: 200px; left: 15px;" @onclick="() => ElementInViewport(elementID)">CHECK</button>
    


<div style="background: #eeeeee; width: 100%; height: 100%;">
</div>
<div style="width: 100%; height: 300%;">
    <div id="my-element" style="background: seagreen; margin-top: 200px; width: 200px; height: 200px;">
        hwody partna
    </div>
</div>

@code {

    private async Task ElementInViewport(string elementID)
    {
        // await JsRuntime.ShowAlert(elementID);
        await JsRuntime.ElementInViewport(elementID);
    }
}