@page "/Portfolio"

@using DaveEvansTech.Components.Sections

<div class="bg-gray-100 mt-10 px-6 md:px-32 pt-10 pb-10">


    <h3 class="text-center text-4xl font-bold font-black mb-10">Portfolio</h3>
    <div class="flex flex-col space-y-10">
        <PortfolioItem Title="Life For Children Ministry - Social Management System"
                       FileName="Portfolio-OrphanApp.mp4">
            <p class="mb-2">
                I built this app for an orphanage in Kenya named Life For Children Ministry (LCM). LCM keeps track of several hundred of Kenya's orphans.
                Their mission is to find homes for these orphans and connect them to sponsors from around the world.
            </p>
            <p class="mb-2">
                LCM does impressive work, but they were keeping track of records by paper and spreadsheets. This app should make it easier for them to do their job.
                They can now spend less time on paperwork and more time on helping the orphans in Kenya.
                Features include orphan profiles, secure login, dashboard with overall stats, assign orphan to a guardian, assign orphans to sponsors, keep track of academic records, take notes about the orphans, upload pics and pdfs, and more.

            </p>
            <p>
                <a href="https://www.lifeforchildrenministry.org/" target="_blank">
                    <span class="font-semibold text-sm md:text-xl underline text-primary hover:text-green-400">Life For Children Ministry (main website)</span>
                </a>
            </p>
        </PortfolioItem>

        <PortfolioItem Title="Sports World Television - OTT Platform"
                       FileName="Portfolio-SWTV.mp4">
            <p class="mb-2">
                Sports World Television offers live sports events via pay-per-view. I helped them expand their reach by building a web application, Roku channel, Android TV, and Amazon Fire TV app.
                Features include a backend API, membership system, in-app purchase, authentication sign-up/sign-in workflows, live streaming, video on demand (VOD), and more!
            </p>

            <p>
                <ul class="list-none mt-6">
                    <li>
                        <a href="https://www.sportsworldtelevision.tv/" target="_blank">
                            <span class="font-semibold text-sm md:text-xl underline text-primary hover:text-green-400">Sports World Television Website</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/Algorithm-Intelligence-Development-Sports-Television/dp/B09BLHVSTF/ref=sr_1_1?dchild=1&keywords=sports+world+television&qid=1634160881&s=mobile-apps&sr=1-1" target="_blank">
                            <span class="font-semibold text-sm md:text-xl underline text-primary hover:text-green-400">Sports World Television Amazon Fire TV App</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://channelstore.roku.com/details/8923d315dba4ca76e7182ff98086259a/sports-world-television" target="_blank">
                            <span class="font-semibold text-sm md:text-xl underline text-primary hover:text-green-400">Sports World Television Roku Channel</span>
                        </a>
                    </li>
                </ul>
            </p>

            <p class="mb-2 italic mt-6">
                Developed as a partner with Algorithm Intelligence Development
            </p>
        </PortfolioItem>

        <PortfolioItem Title="Common Good Atlanta Alumni Private Online Community"
                       FileName="Portfolio-CGA.mp4">
            <p class="mb-2">
                Common Good Atlanta is a college-in-prison program that connects college professors from the Atlanta area with prisoners in Georgia.
                These professors dedicate their time to go inside these prisons to teach prisoners everything from Shakespeare to College Algebra.
                This app is for those who were released from prison after participating in the CGA program. The goal of the app is to help foster a community among the CGA alumni.
            </p>
            <p class="mb-2">
                This is a private social media app. Features include member profiles, activity feed, groups, discussion forums, a timeline for each member, private messaging, calendar events, privacy settings for each member, a blog, blog post creation by any member, notifications, email notifications, Zoom integration, and more.
            </p>
            <p>
                <a href="https://www.commongoodatlanta.com/" target="_blank">
                    <span class="font-semibold text-sm md:text-xl underline text-primary hover:text-green-400">Common Good Atlanta (main website)</span>
                </a>
            </p>
        </PortfolioItem>

        <PortfolioItem Title="Fitness Company Roku Channel"
                       FileName="Portfolio-FitnessRokuChannel.mp4">
            <p class="mb-2">
                Roku channel for a fitness company. This channel contains mock data for demo purposes. Features include in-app purchase with Roku pay, authentication sign-up/sign-in workflow, video row list, premium content locked, collapsible side menu, menu items with icons, backend API, purchase validation, and more!
            </p>
            <p class="mb-2">


            </p>
            <p>
                <ul class="list-none">
                    <li>
                        <a href="https://my.roku.com/account/add/VVXGDVC" target="_blank">
                            <span class="font-semibold text-sm md:text-xl underline text-primary hover:text-green-400">Private Roku Channel</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://my.roku.com/account/add/TZGZH5J" target="_blank">
                            <span class="font-semibold text-sm md:text-xl underline text-primary hover:text-green-400">Private Roku Channel with UI Experimentation</span>
                        </a>
                    </li>
                </ul>

            </p>
        </PortfolioItem>

        <PortfolioItem Title="LIM Prints"
                       FileName="Portfolio-Limprints.mp4">
            <p class="mb-2">
                An eCommerce website that sells a variety of on-demand printing items. Features include an online shopping cart, customer account, search products, filter products, and an online T-shirt custom designer.
            </p>
        </PortfolioItem>

        <PortfolioItem Title="Zion Missionary Baptist Church Deacon's App"
                       FileName="Portfolio-Deaconapp.mp4">
            <p class="mb-2">
                This app is for the deacons at the Zion Missionary Baptist Church. The Church asks Deacons to make contact with church members within their group every month.
                This app aims to make this easier for them to keep track of their group church members.
            </p>
            <p class="mb-2">
                Features include secure login, member profiles, announcement slider, church members list, notifications, contact records, summary reports, calendar, prayer requests, call or text members from within the app and track it, edit members details, download PDFs and excel sreadsheets, admin dashboard, and more.
            </p>
        </PortfolioItem>

        <PortfolioItem Title="Events World TV"
                       FileName="Portfolio-Events.mp4">
            <p class="mb-2">
                Events World TV offers its customers live streaming of events such as concerts, comedy shows, and conferences.
                Features include subscription-based service, email newsletter, PPV live, membership, gift purchases, free trial, and more.
            </p>
        </PortfolioItem>

        <PortfolioItem Title="EncourageMe App"
                       FileName="Portfolio-Encourageme.mp4">
            <p class="mb-2">
                The EncourageMe app is a private social media platform that allows its members to send encouraging messages to each other.
                Features include secure login, membership, invite-only onboarding, flag as a favorite, flag as inappropriate for moderators, view sent messages, member profiles, messages inbox, privacy settings, filter messages, and more.
            </p>
        </PortfolioItem>

        <PortfolioItem Title="Kendra Cathey Financial"
                       FileName="Portfolio-Kendra.mp4">
            <p class="mb-2">
                A website for an accountant and financial advisor firm. This website is a modern one-page website that includes an animated slide show and a contact form.
            </p>
        </PortfolioItem>
    </div>

</div>

@code {

}